* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .forget-password {
    max-width: 540px;
    padding: 60px 60px 60px 60px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(/lock.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .confirmbutton {
    width: auto;
    padding: 10px 18px;
    background-color: #0cb2f3;
  }
  
  .center {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50px;
  }
